<p>
    <strong>Task Name:</strong>
    <%= task.title %>
</p>

<p>
    <li><%= link_to "Expand Task", category_task_path(@category, task.id) %></li>
    <li><%= link_to "Edit", edit_category_task_path(@category, task.id) %></li>
    <li><%= link_to "Remove Task", [task.category, task],
                    method: :delete,
                    data: { confirm: 'Are you sure with this?' } %></li>
</p>
