<h1>Good day, Ivan</h1>
<p>These are your different activites in life:</p>


<ul>
    <% @categories.each do |category| %>
        <% if category.user == current_user %>
        <li>
            <%= link_to category.title, category %>
        </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Entry", new_category_path %>