<h1>Good day, Ivan</h1>
<p>These are your different activites in life:</p>


<ul>
    <% @categories.each do |category| %>
        <% category.tasks.each do |task| %>
            <li>
                <%= link_to category.title, category %><br>
                <% if task.status == true %>
                <strike>
                    <ul><%= task.title %></ul>
                </strike>
                <% else %>
                    <ul><%= task.title %></ul>
                <% end %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Entry", new_category_path %>