    <%= render @category.tasks %>

        <div class="w-20 xl:w-1/4">
            <a href=<%= new_category_path %> class="flex flex-col justify-center items-center rounded-lg shadow-md h-20 
            bg-opacity-40 hover:bg-opacity-100
            bg-gray-900 
            transition duration-50
            ">
                <p class="text-3xl font-bold text-gray-400">Add a Task!</p>
            </a>
        </div>